# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Flask
instance/
*.db
*.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# MySQL dump (if any)
*.sql

# Node (if frontend later)
node_modules/

# Static build cache
*.cache