<!DOCTYPE html>
<html>
<head>
    <title>Manage Doctors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>

<body>

<div class="admin-main">

    <h2>Manage Doctors</h2>

    <form method="POST" class="admin-form">
        <input name="name" placeholder="Doctor Name" required>
        <input name="specialization" placeholder="Specialization" required>
        <button>Add Doctor</button>
    </form>

    <hr>

    {% for d in doctors %}
        <p>
            {{ d[1] }} - {{ d[2] }}
            <a href="/delete_doctor/{{ d[0] }}">
                <button class="delete-btn">Delete</button>
            </a>
        </p>
    {% endfor %}

</div>

</body>
</html>